@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #BFAB99, #8C634A);
}

main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}