@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
}

body {
    background-image: linear-gradient(left, #BFAB99);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}